.container {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main {
      display: flex;
      align-items: center;
      gap: 30px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 6px;

        font-weight: 400;
        font-size: 14px;
        line-height: 17.07px;
        letter-spacing: 0;
        color: var(--black);
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 6px;

      font-weight: 600;
      font-size: 14px;
      line-height: 17.07px;
      letter-spacing: 0;

      .order {
        color: rgba(142, 149, 169, 1);
      }

      .price {
        color: var(--black);
      }
    }
  }
}
