.container {
  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
  .totalNumber {
    margin: 30px 0 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.63px;
    letter-spacing: 0;
    color: var(--black)
  }
}